<header class="site-header">
  <div class="logo">Театар за тебе</div>
  <nav class="right-navbar">
    <a class="auto-drop" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/events" routerLinkActive="active">Events</a>
    <a routerLink="/workshops" routerLinkActive="active">Workshops</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
</header>